.content {
  padding: 20px;
  background-color: #fff;
}

.selectWrapper {
  margin-bottom: 20px;
}

.imgCard {
  width: 70px !important;
  height: 70px;
  margin: 0 auto;
}

.description {
  margin-bottom: 20px;
}
